//- FOOTER
.container-fluid: #footer
	.row 
		.col-md-3
			//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
			p &copy; 2015
				br
				a(href="#company",data-toggle="modal",data-target="#companyModal") Muriquee UG (haftungsbeschr&auml;nkt)
				br
				a(href='#terms',data-toggle="modal",data-target="#termsModal") Terms Of Use
				br
				a(href='#privacy',data-toggle="modal",data-target="#privacyModal") Privacy
				br
				a(href="mailto:g@muriqee.com") Contact
		.col-md-3
			p In collaboration with 
				br
				a(href="http://www.loophole-berlin.com", target="_blank") Loophole
				br
				a(href="http://www.shalomsalon.de", target="_blank") Shalom Salon
				br
				a(href="http://www.wearepictures.com", target="_blank") WEAREPICTURES
				br
				a(href="http://www.joprec.org", target="_blank") JopRec
				p