<!-- FOOTER -->
<footer>
    <p class="pull-right"><a href="#top" id="topLink">Back to top</a></p>
    <p><a href="#privacy" data-toggle="modal" data-target="#companyModal">&copy; 2015 Muriquee UG (haftungsbeschränkt)</a> &middot; <a href="#privacy" data-toggle="modal" data-target="#privacyModal">Privacy</a> &middot; <a href="#terms" data-toggle="modal" data-target="#termsModal">Terms</a> &middot; Proudly supported by <a href="http://www.shalomsalon.de" target="_blank">Shalom Salon</a> & <a href="http://www.wearepictures.com" target="_blank">WEAREPICTURES</a></p>
</footer>