.alert.alert-info.alert--instruction(ng-if='storage.profiles.length == 0')
	h4: span.fa.fa-map-marker
		| &nbsp; Only one more step!

	p.lead To interact with other profiles you need to place your own on the map. You can create 3 types of profiles:
	br
	br
	.row
		.col-sm-4
			h4: span.fa.fa-user
				| &nbsp; Artist
			p You are a performer and are looking for opportunities. With your free user you can create up to 4 profile.
		.col-sm-4
			h4: span.fa.fa-user-secret
				| &nbsp; Organiser
			p Organizing events is your job and your passion. Put yourself on the map and find artists around you.
		.col-sm-4
			h4: span.fa.fa-building
				| &nbsp; Venue
			p You are the hub, you are the shelter!