#mapCtrl(ng-controller="MapCtrl")
	.panel.panel-default.panel-front#mapPanel(ng-if="storage.viewmode == 'map'")
		.panel-body
			leaflet(height="480px",
				width="100%",
				center="center",
				markers="storage.markers")
			p Search radius
			input(type="number", ng-model="storage.searchOptions.radius")