#mapCtrl(ng-controller="MapCtrl")
	.panel.panel-default.panel-flat#mapPanel(ng-if="storage.viewmode == 'map'")
		.panel-body
			leaflet(height="600px",
				width="100%",
				center="center",
				markers="storage.markers",
				defaults="defaults")
			label(for="searchRadiusInput") Search radius
			input#searchRadioInput(type="number", ng-model="storage.searchOptions.radius")
			| km