#mapCtrl(ng-controller="MapCtrl")
	.panel.panel-default#mapPanel
		.panel-body
			{{mouseposition}}
			openlayers(ol-center="storage.center", 
				ol-defaults="defaults",
				height="480px", 
				width="640px")
				ol-marker(ng-repeat="m in storage.markers", 
					ol-marker-properties="m")
				ol-marker(ol-marker-properties="homemarker")
