#negotiationDetailCtrl(ng-controller="NegotiationDetailCtrl")
	.alert.alert-default#noNegotiationSelectedAlert(
		ng-if="storage.viewmode == 'negotiation' && !storage.selectedNegotiation")
		h4.alert-heading Please select a negotiation!
	.panel.panel-default.panel-flat#negotiationDetailPanel(
		ng-if="storage.viewmode == 'negotiation' && storage.selectedNegotiation", 
		style="height=350; overflow: auto")
		.panel-heading
			.panel-title(ng-click="showProfile()")
				span.fa.fa-user(ng-if="otherProfile(storage.selectedNegotiation).type == 'Artist'")
				span.fa.fa-user-secret(ng-if="otherProfile(storage.selectedNegotiation).type == 'Organiser'")
				span.fa.fa-building(ng-if="otherProfile(storage.selectedNegotiation).type == 'Venue'")
				b &nbsp; {{otherProfile(storage.selectedNegotiation).name}} &nbsp;
				span.text-success(ng-if="hasAccepted(otherProfile(storage.profile))")
					| &nbsp; has accepted!
			.row
				.col-md-6
					b.text-default#negotiationDate
						span.fa.fa-calendar-o
						span.calendar-digit.calendar--month &nbsp; {{getMonth()}}&nbsp;
						span.calendar-digit.calendar--day {{getDay()}}&nbsp;
						span.calendar-digit.calendar--year {{getYear()}}&nbsp;
				.col-md-3
					input.form-control(id="negotiation-offer-area",ng-model="storage.selectedNegotiation.currentOffer")
				.col-md-3
					button.btn.btn-success.btn-block(ng-if="!hasAccepted(storage.profile) && !isNegotiationClosed()",ng-click="accept()") Accept
					button.btn.btn-success.btn-block(ng-if="hasAccepted(storage.profile)", disabled) Accepted
			.row
				.col-md-6
					b.text-default#negotiationOffer
						span.fa.fa-money
						span.calendar-digit.calendar--month &nbsp; <b>{{storage.selectedNegotiation.currentOffer}}</b>
				.col-md-3
					button.btn.btn-primary.btn-block(ng-click="offer()")
							| Offer
				.col-md-3
					button.btn.btn-success.btn-block(ng-if="isNegotiationClosed()", disabled) Closed
					button.btn.btn-warning.btn-block(ng-click="decline()") Decline		
		.panel-body
			.chat-body.scrollable#negotiationDetailChatBody
				.message(ng-class="{true:'message-sent', false:'message-received'}[sent(message)]",ng-repeat="message in storage.selectedNegotiation.messages")
					p.message-content(ng-bind-html="formatMessage(message.content)")
						| {{formatMessage(message.content)}} <br>
					span.message-date
						| {{message.date}} <br>
				.well-lg.text-center(ng-if="storage.selectedNegotiation.messages.length == 0") Type into the textfield below to get started!
		.panel-footer
			span.fa.fa-comments-o
				span &nbsp; Add a message
			form#messageForm
				.form-group
					label(for="message-area")
					textarea.form-control(type="text", id="message-area",placeholder="Type here ...",ng-model="models.messageAreaText")
			.form-group
				button.btn.btn-primary.btn-block(ng-click="send()") Send Message
