.panel.panel-default(ng-controller="NegotiationDetailCtrl")#negotiationDetailPanel
	.panel-heading
		.panel-title Negotiation between <b>{{negotiation.sender.name}}</b> and <b>{{negotiation.receiver.name}}</b>
		textarea(id="negotiation-offer-area", rows="1", cols="20",ng-model="negotiation.currentOffer")
		button.btn.btn-default(ng-click="offer()") submit offer
	.panel-body
		row(ng-repeat="message in negotiation.messages | orderBy:date")
				span.negotiation-date.negotiation-msg-sent
					| {{message.date}}
					<br>
				span.negotiation-msg.negotiation-msg-sent
					| {{message.content}}
					<br>
		row
			form.negotiation-msg.negotiation-msg-sent
				.form-group
					label(for="message-area")
					textarea.form-control(id="message-area",rows="4",cols="50",ng-model="messageAreaText")
				.form-group
					button.btn.btn-default(ng-click="send()") Send	
	.panel-footer
		button.btn.btn-default(ng-click="acceptNegotiation()") Accept
		button.btn.btn-default(ng-click="closeNegotiation()") Decline
		

