#negotiationDetailCtrl(ng-controller="NegotiationDetailCtrl")
	.panel.panel-default#negotiationDetailPanel(ng-if="storage.selectedNegotiation != undefined", style="height=350; overflow: auto")
		.panel-heading
			.panel-title Negotiation between <b>{{storage.selectedNegotiation.sender.name}}</b> and <b>{{storage.selectedNegotiation.receiver.name}}</b> for the <b>{{storage.selectedNegotiation.date}}</b>
			.pull-right
				button.btn.btn-success.btn-xs(ng-click="accept()") Accept
				button.btn.btn-warning.btn-xs(ng-click="decline()") Decline

			input.form-control(id="negotiation-offer-area",ng-model="storage.selectedNegotiation.currentOffer")
			button.btn.btn-default( ng-click="offer()")
				| Submit offer
		.panel-body
			h5.message-titel Your Conversation
			.row(ng-repeat="message in storage.selectedNegotiation.messages")
				.col-xs-12
					.message(ng-class="{true:'message-sent', false:'message-received'}[sent(message)]")
						p.message-content
							| {{message.content}} <br>
						span.message-date
							| {{message.date}} <br>

		.panel-footer
			form#messageForm
				.form-group
					label(for="message-area")
					input.form-control(type="text", id="message-area",rows="4",cols="50",ng-model="models.messageAreaText")
			.form-group
				button.btn.btn-primary.btn-block(ng-click="send()") Send Message
