.panel.panel-default.panel-front(ng-controller="NegotiationDetailCtrl",ng-if="!storage.selectedNegotiation.sender.name")#negotiationDetailPanel
	.panel-heading
		.panel-title Negotiation between <b>{{storage.selectedNegotiation.sender.name}}</b> and <b>{{storage.selectedNegotiation.receiver.name}}</b>
			.pull-right
				button.btn.btn-default: span.fa.fa-close
		.input-group
			input.form-control(id="negotiation-offer-area", placeholder="0,00",ng-model="storage.selectedNegotiation.currentOffer")
			.input-group-addon: button.btn.btn-default(ng-click="offer()") Submit offer

	.panel-body
		row(ng-repeat="message in storage.selectedNegotiation.messages | orderBy:date")
				span.negotiation-date.negotiation-msg-sent
					| {{message.date}}
					<br>
				span.negotiation-msg.negotiation-msg-sent
					| {{message.content}}
					<br>
		row
			form.negotiation-msg.negotiation-msg-sent
				.form-group
					label(for="message-area")
					textarea.form-control(id="message-area",rows="4",cols="50",ng-model="messageAreaText")
				.form-group
					button.btn.btn-default(ng-click="send()") Send	
	.panel-footer
		button.btn.btn-success(ng-click="acceptNegotiation()") Accept
		button.btn.btn-warning(ng-click="closeNegotiation()") Decline
		

