#negotiationDetailCtrl(ng-controller="NegotiationDetailCtrl")
	.panel.panel-default.panel-front#negotiationDetailPanel(ng-if="storage.selectedNegotiation != undefined", style="height=350; overflow: auto")
		.panel-heading
			.panel-close.pull-right(ng-click="close()")
				span.fa.fa-times
			.panel-title(ng-click="showProfile()"): b {{otherProfile(storage.selectedNegotiation).name}} &nbsp;
				span.profile-type.label.label-primary {{otherProfile(storage.selectedNegotiation).type}}
				span.text-success(ng-if="hasAccepted(otherProfile(storage.profile))")
					| &nbsp; has accepted!
			.row
				.col-md-6
					b.text-default#negotiationDate
						span.fa.fa-calendar-o
						span.calendar-digit.calendar--month &nbsp; {{getMonth()}}&nbsp;
						span.calendar-digit.calendar--day {{getDay()}}&nbsp;
						span.calendar-digit.calendar--year {{getYear()}}&nbsp;
				.col-md-3
					input.form-control(id="negotiation-offer-area",ng-model="storage.selectedNegotiation.currentOffer")
				.col-md-3
					button.btn.btn-success.btn-block(ng-if="!hasAccepted(storage.profile) && !isNegotiationClosed()",ng-click="accept()") Accept
					button.btn.btn-success.btn-block(ng-if="hasAccepted(storage.profile)", disabled) Accepted
			.row
				.col-md-6
					b.text-default#negotiationOffer
						span.fa.fa-money
						span.calendar-digit.calendar--month &nbsp; <b>{{storage.selectedNegotiation.currentOffer}}</b>
				.col-md-3
					button.btn.btn-primary.btn-block(ng-click="offer()")
							| Offer
				.col-md-3
					button.btn.btn-success.btn-block(ng-if="isNegotiationClosed()", disabled) Closed
					button.btn.btn-warning.btn-block(ng-click="decline()") Decline		






		.panel-body
			.chat-body.scrollable#negotiationDetailChatBody
				.message(ng-class="{true:'message-sent', false:'message-received'}[sent(message)]",ng-repeat="message in storage.selectedNegotiation.messages")
					p.message-content(ng-bind-html="formatMessage(message.content)")
						| {{formatMessage(message.content)}} <br>
					span.message-date
						| {{message.date}} <br>
				.well-lg.text-center(ng-if="storage.selectedNegotiation.messages.length == 0") Type into the textfield below to get started!
		.panel-footer
			span.fa.fa-comments-o
				span &nbsp; Add a message
			form#messageForm
				.form-group
					label(for="message-area")
					textarea.form-control(type="text", id="message-area",placeholder="Type here ...",ng-model="models.messageAreaText")
			.form-group
				button.btn.btn-primary.btn-block(ng-click="send()") Send Message
