.panel.panel-default.scrollable#ongoingNegotiationsPanel(ng-controller="NegotiationsListCtrl", style="height=250; overflow: auto")
	.panel-heading
		.panel-title
			span.fa.fa-gavel
			span &nbsp; Ongoing negotiations
			.label.label-info(ng-if="storage.profile.negotiations!=0") {{storage.profile.negotiations.length}}
	.panel-body.scrollable
		table.table.table-hover.profile-filtered-list(ng-if="storage.profile.negotiations.length!=0")
			tbody.profile-filtered-list--body
				tr(ng-repeat="n in storage.profile.negotiations | filter:dateFilter",ng-animate="'animate'")
					td.profile-info(data-toggle="tooltip",data-placement="right",title="{{n.date}}",ng-click="showProfile(otherProfile(n))")
						span.fa.fa-user(ng-if="otherProfile(n).type == 'Artist'")
						span.fa.fa-user-plus(ng-if="otherProfile(n).type == 'Organiser'")
						span.fa.fa-building(ng-if="otherProfile(n).type == 'Venue'")
						span.profile-info-list--item.profile-name &nbsp; {{otherProfile(n).name}}
					td.text-right
						a.profile-action-list--item.btn.btn-success.btn-xs(
									ng-if="storage.selectedNegotiation._id == n._id"
									ng-click="unselectNegotiations()") 
							| selected
						a.profile-action-list--item.btn.btn-default.btn-xs(
									ng-if="storage.selectedNegotiation._id != n._id"
									ng-click="selectNegotiation(n)")
							| select

		.well-lg.text-center(ng-if="storage.profile.negotiations.length==0") No active negotiations!
	.panel-footer
		input.checkbox-inline(type="checkbox", ng-model="filterDate")
		span Filter by date

		
