.panel.panel-default.scrollable#ongoingNegotiationsPanel(ng-controller="NegotiationsListCtrl", style="height=250; overflow: auto")
	.panel-heading
		.panel-title
			span.fa.fa-gavel
			span &nbsp; Ongoing negotiations&nbsp;
			span.text-muted.negotiations-count(ng-if="storage.profile.negotiations!=0") ({{storage.profile.negotiations.length}})
	.panel-body.scrollable
		table.table.table-hover.profile-filtered-list(ng-if="storage.profile.negotiations.length!=0")
			tbody.profile-filtered-list--body
				tr(ng-repeat="n in storage.profile.negotiations | filter:dateFilter",ng-animate="'animate'")
					td.profile-info(ng-click="onNegotiationClick(n)",ng-class="storage.selectedNegotiation && storage.selectedNegotiation._id == n._id ? 'active' : 'negotiation--default'")
						span.label.label-artist.panel--artist(ng-if="otherProfile(n).type == 'Artist'") &nbsp;
						span.label.label-organiser.panel--organiser(ng-if="otherProfile(n).type == 'Organiser'") &nbsp;
						span.label.label-venue.panel--venue(ng-if="otherProfile(n).type == 'Venue'") &nbsp;
						b.profile-info-list--item.profile-name &nbsp; {{otherProfile(n).name}} &nbsp;
						span.label.label-primary(ng-if="n.status == 'open'") Open
						span.label.label-success(ng-if="n.status == 'sender_accepted'") Accepted &nbsp;
							span.fa.fa-circle-o
						span.label.label-success(ng-if="n.status == 'closed'") Accepted &nbsp;
							span.fa.fa-check-cirle-o
						span.label.label-success(ng-if="n.status == 'receiver_accepted'") &nbsp;
							span.fa.fa-circle-o
						span.negotiation-date.pull-right 
							span.fa.fa-calendar-o &nbsp;
							span.calendar-digit.calendar--month {{getMonth(n)}}&nbsp;
							span.calendar-digit.calendar--day {{getDay(n)}}&nbsp;
							span.calendar-digit.calendar--year {{getYear(n)}}&nbsp;
					//td.text-right
						a.profile-action-list--item.btn.btn-success.btn-xs(
									ng-if="storage.selectedNegotiation._id == n._id"
									ng-click="onNegotiationsClick(n)") 
							| selected
						a.profile-action-list--item.btn.btn-default.btn-xs(
									ng-if="storage.selectedNegotiation._id != n._id"
									ng-click="selectNegotiation(n)")
							| select
		.well-lg.text-center(ng-if="storage.profile.negotiations.length==0") No active negotiations!
	.panel-footer
		input.checkbox-inline(type="checkbox", ng-model="filterDate")
		span Filter by date
