.col-sm-3.col-xs-6(ng-if="!isProfileSelected()",ng-repeat="profile in storage.profiles | orderBy:'type'")
	.panel.panel-profile(ng-class="{Artist:'panel--artist',Venue:'panel--venue',Organiser:'panel--organiser'}[profile.type]",ng-click="loadProfile(profile, loadCalendar)")
		.panel-header
			.panel-heading
				h4.panel-title
					span.badge.badge-artist(ng-if="editprofile.type == 'Artist'")
					span.badge.badge-organiser(ng-if="editprofile.type == 'Organiser'")
					span.badge.badge-venue(ng-if="editprofile.type == 'Venue'")
					span.profile-info-list--item.profile-name {{profile.name}}
					.pull-right
						.btn.btn-default.profile-edit-link(ng-click="editProfile(profile)", ng-if="profile._id")
							.fa.fa-cog
						//span.fa.fa-cog(ng-click="loadProfile(profile)", ng-if="profile._id == storage.profile._id")
		.panel-body
			p.profile
				.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
				.profile-ongoing-negotiations
					span.fa.fa-envelope
					| &nbsp; {{profile.proposals.length}} new proposals
		//.panel-footer.text-right
			button.btn.btn-default.btn-block.btn-xs() Calendar