.panel.panel-default(ng-if='profiles.length != 0')

	.panel-heading
		.panel-title Select a profile
			.pull-right
				span.fa.fa-chevron-down

	.panel-body
		table.table.table-striped.table-hover.profile-filtered-list
			tbody.profile-filtered-list--body
				tr(ng-repeat="profile in profiles | orderBy:'name'")
					td.profile-info
						span.profile-info-list--item.profile-name {{profile.name}}
						span.profile-type.label.label-primary {{profile.type}}
					td.profile-genre-list
						span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
					td.profile-action-list
						.btn.btn-default.btn-xs(ng-click="loadProfile(profile)", ng-if="profile._id != storage.profile._id") 
							| Select
						.btn.btn-success.btn-xs(ng-click="loadProfile(profile)", ng-if="profile._id == storage.profile._id") 
							| Selected
	.panel-footer.text-right
		button.btn.btn-default(ng-click="createProfile()"): span.fa.fa-user-plus
			| &nbsp; New profile
		button.btn.btn-default(ng-click="loadCalendar($index)") Go to calendar


.alert.alert-info.alert--instruction(ng-if='profiles.length == 0')
	h4: span.fa.fa-map-marker
		| &nbsp; Only one more step!

	p.lead To interact with other profiles you need to place your own on the map. You can create 3 types of profiles:
		br
		br
		div.list-group
			.list-group-item.active(href='#')
				h4.list-group-item-heading: span.fa.fa-user
					| &nbsp; Artist
				p.list-group-item-text You are a performer and are looking for opportunities. With your free user you can create up to 4 profile.
			.list-group-item.active(href='#')
				h4.list-group-item-heading: span.fa.fa-user-secret
					| &nbsp; Organiser
				p.list-group-item-text Organizing events is your job and your passion. Put yourself on the map and find artists around you.
			.list-group-item.active(href='#')
				h4.list-group-item-heading: span.fa.fa-building
					| &nbsp; Venue
				p.list-group-item-text You are the hub, you are the shelter!

