.panel.panel-default

	.panel-heading
		.panel-title Select a profile
			.pull-right
				span.fa.fa-chevron-down

	.panel-body
		table.table.table-striped.table-hover.profile-filtered-list
			tbody.profile-filtered-list--body
				tr(ng-repeat="profile in profiles | orderBy:'name'")
					td.profile-info
						span.profile-info-list--item.profile-name {{profile.name}}
						span.profile-type.label.label-primary {{profile.type}}
					td.profile-genre-list
						span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
					td.profile-action-list
						.btn.btn-default.btn-xs(ng-click="loadProfile(profile)", ng-if="profile._id != storage.profile._id") 
							| Select
						.btn.btn-success.btn-xs(ng-click="loadProfile(profile)", ng-if="profile._id == storage.profile._id") 
							| Selected
	.panel-footer.text-right
		button.btn.btn-default(ng-click="createProfile()"): span.fa.fa-search
			| &nbsp; New profile
		button.btn.btn-default(ng-click="loadCalendar($index)") Go to calendar