.panel.panel-default.with-nav-tabs.filtered-list#searchResultsPanel
	.panel-header
		.panel-heading
			.panel-title Profile
				.pull-right
					span.fa.fa-chevron-down
	.panel-body(ng-controller="ProfileDetailReadonlyCtrl")
		.row
			.col-sm-4 Profile Name:
			.col-sm-8
				| {{storage.selectedResult.name}}
		.row
			.col-sm-4 About - brief:
			.col-sm-8
				| {{storage.selectedResult.about.brief}}
		.row
			.col-sm-4 About - extended:
			.col-sm-8
				| {{storage.selectedResult.about.extended}}