.panel-ground#profileDetail(ng-controller="ProfileDetailReadonlyCtrl")
	//.panel-header
		.panel-heading
			.panel-title Profile
	.panel-body(ng-if="storage.selectedResult != undefined")
		.row
			.col-md-2
				img.img-responsive(src='http://placehold.it/85?text=N/A',ng-if="!storage.selectedResult.image",alt='Profile Picture N/A')
				img.img-responsive(src='',ng-attr-src='{{storage.selectedResult.image}}',ng-if="storage.selectedResult.image",alt='Profile Soundcloud')
			.col-sm-10
				h5 {{storage.selectedResult.name}}
				.label.label-default {{storage.selectedResult.type}}
				.label.label-primary {{storage.selectedResult.subtype}}
				br
				ol.list-unstyled
					li(ng-repeat="link in storage.selectedResult.socialLinks")
						a(href="{{link}}",target="_blank") {{link}}
		.row
			.col-sm-12
				h6(ng-if="storage.selectedResult.about") About
				p.about-brief {{storage.selectedResult.about}}
				.soundcloud-embed(ng-bind-html="storage.selectedResult.soundcloud_embed_code",ng-if="storage.selectedResult.soundcloud_embed_code")

