#profileSearchResultsCtrl(ng-controller="ProfileSearchResultsCtrl")
	.panel-ground#profileSearchResultsPanel(ng-if="storage.viewmode == 'calendar'")
		.panel-header
			.pull-right(ng-if="storage.searchResults.length!=0")
				button.btn.btn-default(type='submit', ng-click="rememberAll()",ng-if="storage.rememberedProfiles.length!=storage.searchResults.length"): span Select All
				button.btn.btn-default.disabled(type='submit',ng-if="storage.rememberedProfiles.length==storage.searchResults.length"): span All Selected
				button.btn.btn-default(type='submit', ng-click="removeAll()",ng-if="storage.rememberedProfiles.length!=0"): span Reset
				button.btn.btn-default.disabled(type='submit', ng-if="storage.rememberedProfiles.length==0"): span Reset
				//Request if Artist
				.request(style="display:inline;",ng-if="storage.profile.type == 'Artist'")
					button.btn.btn-success(type='submit', ng-click="pushCall()",ng-if="storage.rememberedProfiles.length!=0") Request &nbsp;
						span.fa.fa-send-o
					button.btn.btn-success.disabled(type='submit',ng-if="storage.rememberedProfiles.length==0") Request &nbsp;
						span.fa.fa-send-o
				//Call if Venue and Organisers
				.call(style="display:inline;",ng-if="storage.profile.type == 'Venue' || storage.profile.type == 'Organiser'")
					button.btn.btn-success(type='submit', ng-click="pushCall()",ng-if="storage.rememberedProfiles.length!=0") Call &nbsp;
						span.fa.fa-bell-o
					button.btn.btn-success.disabled(type='submit',ng-if="storage.rememberedProfiles.length==0") Call &nbsp;
						span.fa.fa-bell-slash-o
			.panel-heading(style="padding-left:0;")
				h4(style="margin-top:0;") Search Results for 
					span.fa.fa-calendar-o &nbsp;
					span.calendar-digit.calendar--month {{getMonth()}}&nbsp;
					span.calendar-digit.calendar--day {{getDay()}}&nbsp;
					span.calendar-digit.calendar--year {{getYear()}}&nbsp;
					small(ng-if="storage.searchResults.length>1") ( {{storage.searchResults.length}} Residents )

		.panel-body#profileSearchResultsBody
			//ul.nav.nav-tabs
				li.active: a(href="#resultsResidentTab", data-toggle="tab")
			
				//li: a(href="#resultsOntourTab", data-toggle="tab")
					span.fa.fa-space-shuttle &nbsp;On tour (2)
				//li.pull-right: a(href="#resultsCalledTab", data-toggle="tab")
					span.fa.fa-send &nbsp; Called
						.label.label-success(ng-if="storage.calledProfiles.length!=0") {{storage.calledProfiles.length}}
				//li.pull-right: a(href="#resultsRememberedTab", data-toggle="tab")
					span.fa.fa-bookmark &nbsp; Remembered
						.label.label-success(ng-if="storage.rememberedProfiles.length!=0") {{storage.rememberedProfiles.length}}
			.tab-content.scrollable#profileSearchResultsTab
				// Tab: Residents
				include ../tabs/results-resident.jade
				// Tab: On Tour
				//include ../tabs/results-ontour.jade
				// Tab: Remembered
				//include ../tabs/results-remembered.jade
				// Tab: Called
				//include ../tabs/results-called.jade