#searchCtrl(ng-controller="ProfileSearchCtrl")
	.panel.panel-default#searchPanel(ng-if="storage.selectedNegotiation == undefined")

		.panel-heading
			.panel-title
				span.fa.fa-search &nbsp; Find opportunity
			// Form: Filter
			include ../forms/search-filter.jade

		.panel-body
			// Section: Results
			include ../sections/search-results.jade

		.panel-footer.text-right
			button.btn.btn-default(type='submit', ng-click="rememberAll()"): span
				| &nbsp; Remember All
			button.btn.btn-default(type='submit', ng-click="removeAll()"): span
				| &nbsp; Remove All
			button.btn.btn-primary(type='submit', ng-click="pushCall()"): span.fa.fa-send-o
				| &nbsp; Push Call