#searchCtrl(ng-controller="ProfileSearchCtrl")
	.panel.panel-default#searchPanel(ng-if="storage.selectedNegotiation == undefined")

		.panel-heading
			.dropdown.pull-right
				a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
					span.fa.fa-cog
				ul.dropdown-menu(role='menu')
					li
						a(href='#') by stared&nbsp;
							span.fa.fa-star
					li
						a(href='#') by fee&nbsp;
							span.fa.fa-money
			.panel-title
				span.fa.fa-search &nbsp; Find opportunity
			// Form: Filter
			include ../forms/search-filter.jade

		.panel-body
			// Section: Results
			include ../sections/search-results.jade

		.panel-footer.text-right
			button.btn.btn-default(type='submit', ng-click="rememberAll()"): span
				| &nbsp; Remember All
			button.btn.btn-default(type='submit', ng-click="removeAll()"): span
				| &nbsp; Remove All
			button.btn.btn-primary(type='submit', ng-click="pushCall()"): span.fa.fa-send-o
				| &nbsp; Push Call