#profileSearchResultsCtrl(ng-controller="ProfileSearchResultsCtrl")
	.panel.panel-default#profileSearchResultsPanel(ng-if="storage.selectedNegotiation == undefined")
		.panel-body#profileSearchResultsBody
			ul.nav.nav-tabs
				li.active: a(href="#resultsResidentTab", data-toggle="tab")
					span.fa.fa-street-view &nbsp;Resident
						.label.label-info(ng-if="storage.searchResults.length!=0") {{storage.searchResults.length}}
				//li: a(href="#resultsOntourTab", data-toggle="tab")
					span.fa.fa-space-shuttle &nbsp;On tour (2)
				li.pull-right: a(href="#resultsCalledTab", data-toggle="tab")
					span.fa.fa-send &nbsp; Called
						.label.label-success(ng-if="storage.calledProfiles.length!=0") {{storage.calledProfiles.length}}
				li.pull-right: a(href="#resultsRememberedTab", data-toggle="tab")
					span.fa.fa-bookmark &nbsp; Remembered
						.label.label-success(ng-if="storage.rememberedProfiles.length!=0") {{storage.rememberedProfiles.length}}
			.tab-content
				// Tab: Residents
				include ../tabs/results-resident.jade
				// Tab: On Tour
				//include ../tabs/results-ontour.jade
				// Tab: Remembered
				include ../tabs/results-remembered.jade
				// Tab: Called
				include ../tabs/results-called.jade

		.panel-footer.text-right
			button.btn.btn-default(type='submit', ng-click="rememberAll()"): span
				| &nbsp; Remember All
			button.btn.btn-default(type='submit', ng-click="removeAll()"): span
				| &nbsp; Remove All
			button.btn.btn-primary(type='submit', ng-click="pushCall()"): span.fa.fa-send-o
				| &nbsp; Push Call