extends ../layouts/default

block header
	include ../partials/navbars/backend


block content
	.container-fluid

		.row#calendar-top
			.col-sm-6
				include ../partials/panels/incoming-proposals.jade

			.col-sm-3
				include ../partials/panels/ongoing-negotiations.jade

			.col-sm-3
				include ../partials/panels/date-picker.jade

		.row#calendar-bottom
			.col-sm-6
				include ../partials/panels/search.jade

			.col-sm-6
				include ../partials/panels/profile-detail-readonly.jade
		.row#negotiationDetailPanel
			include ../partials/panels/negotiation-detail.jade

