extends ../layouts/default

block content

	#top
	.container.marketing

		// Section: Request Invitation
		include ../partials/sections/request-invitation.html

		// Section: Marketing
		//include ../partials/sections/marketing


block footer
	// Footer: Frontend
	include ../partials/footers/default

block js

	// Frontend jQuery App for mailchimp
	script(src="js/marketing-legacy/app.js")

	// Tracking Scripts
	// GA
	include ../partials/scripts/ga.html


