extends ../layouts/default

block header
	include ../partials/navbars/backend-profiles.jade

block content
	.container(ng-controller="ProfileCtrl")
		.row
			.col-sm-12.text-right

				button.btn.btn-default(ng-click="createProfile(undefined)"): span.fa.fa-user
					| &nbsp; New artist
				button.btn.btn-default(ng-click="createProfile(undefined)"): span.fa.fa-user-secret
					| &nbsp; New organiser
				button.btn.btn-default(ng-click="createProfile(undefined)"): span.fa.fa-building
					| &nbsp; New venue
		hr.divider
		.row
			.col-sm-4
				// Panel: Profile Select
				include ../partials/panels/profile-select.jade
			.col-sm-8
				// Panel: Profile Detail
				include ../partials/panels/profile-detail.jade