extends ../layouts/default

block header
	include ../partials/navbars/backend-profiles.jade

block content
	.container-fluid(ng-controller="ProfileCtrl")
		.row
			.col-sm-4
				// Panel: Profile Select
				include ../partials/panels/profile-select.jade
			.col-sm-8
				// Panel: Profile Detail
				include ../partials/panels/profile-detail.jade