extends ../layouts/default

block header
	include ../partials/navbars/backend-profiles.jade

block content
	.container(ng-controller="ProfileCtrl")
		.row
			.col-sm-6
				h4 Profiles &nbsp;
					span#profileName(ng-if="isProfileSelected()") 
						span.fa.fa-chevron-right 
						| &nbsp; 
						span.badge.badge-artist(ng-if="editprofile.type == 'Artist'")
						span.badge.badge-organiser(ng-if="editprofile.type == 'Organiser'")
						span.badge.badge-venue(ng-if="editprofile.type == 'Venue'")
						| &nbsp; {{editprofile.name}}
						//| &nbsp;
						//span.label.label-primary {{editprofile.type}}
			.col-sm-6.text-right#createProfileButtons(ng-if="!isProfileSelected()")
				button.btn.btn-default.btn--artist(ng-click="createProfile('Artist')") New artist
				button.btn.btn-default.btn--organiser(ng-click="createProfile('Organiser')") New organiser
				button.btn.btn-default.btn--venue(ng-click="createProfile('Venue')") New venue
			.col-sm-6.text-right#saveProfileButton(ng-if="isProfileSelected()")
				button.btn.btn-default(ng-click="returnToSelection(editprofile)") Cancel
				button.btn.btn-success(ng-click="saveProfile(editprofile)") Save
				button.btn.btn-danger.btn-xs(ng-click="deleteProfile(editprofile)") Delete profile


		hr.divider
		// Panel: Profile Select
		include ../partials/panels/profile-select.jade
		// Panel: Profile Detail
		include ../partials/panels/profile-detail.jade
		//hr.divider
		p.lead(ng-if="storage.profiles.length == 0") Start by creating your first profile.