div(role="navigation").navbar.navbar-fixed-top.navbar-default
	.container-fluid(ng-controller="NavbarCtrl")
		.navbar-header
			a.navbar-brand(href='/profiles')
				#profileLink 
					span.fa.fa-chevron-left
					| &nbsp; Profiles
				img(src='/images/muriquee-brand.svg',height='32')
		.btn-group.navbar-right
			label.btn.btn-default.btn-lg(ng-model="storage.viewmode", btn-radio="'calendar'"): span.fa.fa-calendar
			label.btn.btn-default.btn-lg(ng-model="storage.viewmode", btn-radio="'map'"): span.fa.fa-street-view
			label.btn.btn-default.btn-lg(ng-model="storage.viewmode", btn-radio="'negotiation'"): span.fa.fa-envelope-o
		// this is analog to profile select panel except additional preferences, and user functions // + admin section
		ul.nav.navbar-nav
			//h4#selectedDate
				//	span.calendar-date.stacked-icons
				//		span.calendar-stack.fa-stack.fa-2x
				//			span.calendar-stack--icon.fa.fa-calendar-o.fa-stack-1x
				//			span.calendar-stack--text.fa-stack-1x
				//				span.calendar-digit.calendar--day 27
				//				span.calendar-digit.calendar--month May&nbsp;
				//				span.calendar-digit.calendar--year 2015
			li.navbar-text#selectedDate
				b.text-primary
					span.fa.fa-calendar-o &nbsp;
					span.calendar-digit.calendar--month {{getMonth()}}&nbsp;
					span.calendar-digit.calendar--day {{getDay()}}&nbsp;
					span.calendar-digit.calendar--year {{getYear()}}&nbsp;
			li.dropdown
				a.dropdown-toggle(href='#',data-toggle='dropdown',role='button',aria-expanded='false') 
					span.label.label-artist.panel--artist(ng-if="storage.profile.type == 'Artist'") &nbsp;
					span.label.label-organiser.panel--organiser(ng-if="storage.profile.type == 'Organiser'") &nbsp;
					span.label.label-venue.panel--venue(ng-if="storage.profile.type == 'Venue'") &nbsp;
					b &nbsp; {{storage.profile.name}} 
					span.caret
				ul.dropdown-menu(role='menu')
					li: a(href='/profiles'): .text-primary
						span.fa.fa-users &nbsp;Profiles
					li: a(href='/signout')
						span.fa.fa-sign-out &nbsp;Sign Out
					if user.canAccessKeystone
						li.divider
						li: a(href='/keystone/')
							span.fa.fa-user-plus &nbsp;Admin