div(role="navigation").navbar.navbar-fixed-top.navbar-default
	.container-fluid(ng-controller="NavbarCtrl")
		.navbar-header
			a.navbar-brand(href='/')
				img(src='/images/muriquee-brand.svg',height='32')
		// show this if profile is selected
		ul.nav.navbar-nav.navbar-left
			li.navbar-link: a(href='/calendar')
				span.fa.fa-calendar
			li.navbar-link: a(href='/map')
				span.fa.fa-street-view
		// this is analog to profile select panel except additional preferences, and user functions // + admin section
		ul.nav.navbar-nav.navbar-right
			li.dropdown
				a.dropdown-toggle(href='#',data-toggle='dropdown',role='button',aria-expanded='false') {{profile.name}} &nbsp;
					span.label.label-default {{profile.type}}
					| &nbsp;
					span.fa.fa-user &nbsp;
					span.caret
				ul.dropdown-menu(role='menu')
					li.dropdown-header Switch to Profile
					li(ng-repeat="p in profiles")
						a(href='#') {{p.name}} &nbsp;
							if p
								if p.subtype == 'Artist'
									span.label.label-info {{p.subtype}}
								if p.subtype == 'Organizer'
									span.label.label-warning {{p.subtype}}
								if p.subtype == 'Venue'
									span.label.label-primary {{p.subtype}}
							else
								span.label.label-default Undefined
					li.divider
					li: a(href='#')
						span.fa.fa-cog &nbsp;Preferences
					li: a(href='/keystone/signout')
						span.fa.fa-sign-out &nbsp;Sign Out
					if user.canAccessKeystone
						li.divider
						li: a(href='/keystone/')
							span.fa.fa-user-plus &nbsp;Admin