div(role="navigation").navbar.navbar-fixed-top.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				img(src='/images/muriquee-brand.svg',height='32')
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-left
				each link in navLinks
					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			ul.nav.navbar-nav.navbar-right
				//if user
					li: a(href='/profiles') Select Profile
				// From SydJs
				if user
					li
						a(href='/profiles').user.hidden-xs
							//img(src=(user.photo && user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
							= user.name.first
					li: a(href='/signout')
						span.visible-xs Sign out
						span.entypo.entypo-large.entypo-logout.hidden-xs
				else
					li: a(href='/signin', data-initial='signin',data-toggle="modal",data-target="#signinModal").js-auth-trigger Sign in
					//li: a(href='/join').js-auth-trigger Join


