include ../mixins/flash-messages
include ../mixins/form-mixins
include ../mixins/auth/auth-forms

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		meta(name="description", content="With our map based community you can tell everyone of your tour plan, while you are building it, and plan according to the requests you find. As an organizer you are able to search artists in your area or passing by your area in tour. It´s that simple!")
		meta(name="author", content="Muriquee")
		meta(property="og:type", content="website")
		meta(property="og:site_name", content="Muriquee - Booking on a Map")
		meta(property="og:title", content="Muriquee - Booking on a Map")
		meta(property="og:image", content="")
		meta(property="og:url", content="http://muriquee.com/")
		meta(property="og:description", content="With our map based community you can tell everyone of your tour plan, while you are building it, and plan according to the requests you find. As an organizer you are able to search artists in your area or passing by your area in tour. It´s that simple!")
		meta(property="fb:admins", content="100001333739026")
		meta(property="fb:app_id", content="336496776431398")
		link(rel="apple-touch-icon", sizes="57x57", href="assets/img/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="assets/img/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="assets/img/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="assets/img/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="assets/img/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="assets/img/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="assets/img/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="assets/img/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="assets/img/apple-icon-180x180.png")
		link(rel="icon" type="image/png", sizes="192x192"  href="assets/img/android-icon-192x192.png")
		link(rel="icon" type="image/png", sizes="32x32", href="assets/img/favicon-32x32.png")
		link(rel="icon" type="image/png", sizes="96x96", href="assets/img/favicon-96x96.png")
		link(rel="icon" type="image/png", sizes="16x16", href="assets/img/favicon-16x16.png")
		link(rel="manifest", href="assets/img/manifest.json")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="assets/img/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

		title= title || 'Muriquee'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")
		link(href="/styles/fontawesome/css/font-awesome.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body(class=section ? 'sitesection-' + section : null,ng-app="muriquee", ng-cloak)

		//- HEADER
		#header

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.
			block header

				include ../partials/navbars/frontend.jade

		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			block flash-messages
				+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


	block footer
		include ../partials/footers/default

	block sticky-footer
		

	// Modals
	// Modal: Company
	include ../partials/modals/company.html
	// Modal: Privacy
	include ../partials/modals/privacy.html
	// Modal: Terms
	include ../partials/modals/terms.html

	block modal
		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signinModal", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })


		//script(type="text/ng-template",id="modalContent.html"):
			.modal-header
			  h3.modal-title Event action occurred!
			.modal-body
			  p Action: {{ action }}
			  p Event: {{ event | json }}
			.modal-footer
			  button.btn.btn-primary(ng-click="$modalInstance.close()") OK

		//- JAVASCRIPT

		//- TODO: gruntfile for minifying into /js/lib.js
		//- TODO: remove jquery from the equation if possible with angular-ui js
		script(src='/js/lib/jquery/jquery-2.1.1.min.js')

		//- Step by step remove CDN's to
		script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
		script(src="/js/lib/moment/moment.min.js")
		script(src="/js/lib/lodash/lodash.min.js")
		script(src="/js/lib/angular/angular-1.4.0/angular.min.js")
		//script(src="/js/lib/angular/select.js")
		script(src="/js/lib/angular/ui-bootstrap.min.js")
		script(src="/js/lib/angular/ui-bootstrap-tpls.min.js")

		//openlayers script
		//leaflet script
		script(src="js/lib/leaflet/leaflet.js")

		//angular modules
		script(src="js/lib/angular/angular-ui-router.min.js")
		script(src="js/lib/angular/angular-sanitize.js")
		script(src="js/lib/angular/angular-1.4.0/angular-animate.js")
		script(src="js/lib/ngStorage.js")
		script(src="js/lib/angular/multiselect.js")
		script(src="js/lib/angular/multiselect-tpls.js")
		//script(src="js/lib/angular/angular-openlayers-directive.min.js")
		script(src="js/lib/angular/angular-leaflet-directive.min.js")
		// Main Frontend App TODO: grunt to app.js
		script(src="js/app.js")

		//Angular services:
		script(src="js/services/MapMarkerService.js")
		script(src="js/services/SoundcloudService.js")
		script(src="js/services/GeocodingService.js")

		//Angular controllers:
		script(src="js/controllers/ProfileCtrl.js")
		script(src="js/controllers/CreateGigGenreTypeheadCtrl.js")
		script(src="js/controllers/ProfileSearchCtrl.js")
		script(src="js/controllers/NavbarCtrl.js")
		script(src="js/controllers/ProfileDetailReadonlyCtrl.js")
		script(src="js/controllers/DatepickerCtrl.js")
		script(src="js/controllers/NegotiationDetailCtrl.js")
		script(src="js/controllers/NegotiationsListCtrl.js")
		script(src="js/controllers/GeneratorCtrl.js")
		script(src="js/controllers/IncomingProposalsCtrl.js")
		script(src="js/controllers/ProfileSearchResultsCtrl.js")
		script(src="js/controllers/MapCtrl.js")

		//Unused simple javascript library
		script(src="js/lib.js")

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
