<!-- Modal: Privacy -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="privacyModalLabel">Privacy</h4>
            </div>
            <div class="modal-body">
                Muriquee is an ads free environment that will require a membership fee.
                We don´t share your data with others, unless you are promoting it.
                Soon we will have it written in a long legal form.
                Thanks for understanding.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal: Privacy -->