.tab-pane.fade(role="tabpanel")#callForVenuesTab
	.col-sm-4
		select.form-control(name='selectVenuesType', ng-model="searchOptions.venue")
			option(ng-repeat="option in genres",value="{{option}}") {{option}}
	.col-sm-4
		input.form-control(type='text',placeholder='Add genres',name='inputGenre',id='inputGenre')
	.col-sm-4
		input.form-control(type='text',placeholder='Contact Organizer',name='inputProfile',id='inputProfile')