.tab-pane.fade.in.active#callForArtistsTab
	.col-sm-4
		select.form-control(name='selectArtistsType', ng-repeat="option in artistTypes")
			option(value="{{option}}", ng-model="searchOptions.subtype")
				| {{option}}
	.col-sm-4
		input.form-control(type='text',placeholder='Add genres',name='inputGenre',id='inputGenre')
	.col-sm-4
		input.form-control(type='text',placeholder='Contact artist',name='inputProfile',id='inputProfile')