.tab-pane.fade.in.active#callForArtistsTab
	.col-sm-4
		select.form-control(name='selectArtistsType')
			option(value="{{option}}",ng-repeat="option in artistTypes" , ng-model="searchOptions.subtype")
				| {{option}}
	.col-sm-4
		ui-select(multiple, ng-model="searchOptions.genres", theme="select2", ng-disabled="disabled", style="max_width: 100%; width: 100%;")
			ui-select-match(placeholder="Select genres...") {{$item}}
			ui-select-choices(repeat="genre in genres | filter:$select.search")
				| {{genre}}
		//input.form-control(type='text',placeholder='Add genres',name='inputGenre',id='inputGenre')
	.col-sm-4
		input.form-control(type='text',placeholder='Contact artist',name='inputProfile',id='inputProfile')