.tab-pane.fade.in#callForOrganizersTab
	.col-sm-4
		select.form-control(name='selectOrganizersType', ng-model="searchOptions.organizers")
			option(ng-repeat="option in organizers",value="{{option}}") {{option}}
	.col-sm-4
		input.form-control(type='text',placeholder='Add genres',name='inputGenre',id='inputGenre')
	.col-sm-4
		input.form-control(type='text',placeholder='Contact Organizer',name='inputProfile',id='inputProfile')