.tab-pane.fade.in#callForOrganizersTab
	.form-group
		label.col-sm-2.control-label(for='inputType') Type
		.col-sm-10
			.radio
				label
					input#optionsType1(type='radio', name='optionsType', value='Live', checked='checked')
					| Live
			.radio
				label
					input#optionsType2(type='radio', name='optionsType', value='Club')
					| Club
			.radio
				label
					input#optionsType2(type='radio', name='optionsType', value='Festival')
					| Festival
			.radio
				label
					input#optionsType2(type='radio', name='optionsType', value='Avant Garde')
					| Avant Garde
	.form-group
		label.col-sm-2.control-label(for='inputGenres') Genres*
		.col-sm-10
			input.form-control(type='text',placeholder='Type to select genres',name='inputGenre',id='inputGenre')
	.form-group
		label.col-sm-2.control-label(for='inputDescription') Request notice
		.col-sm-10
			textarea.form-control(rows='3')
			.help-block Add a few lines of love to your request
	.form-group
		label.col-sm-2.control-label(for='inputProfile') Specific venue
		.col-sm-10
			input.form-control(type='text',placeholder='Type organizer name',name='inputProfile',id='inputProfile')