.tab-pane.fade.scrollable#resultsRememberedTab(style="height: 400px")
	table.table.table-striped.table-hover.profile-filtered-list(ng-if="storage.rememberedProfiles.length!=0")
		tbody.profile-filtered-list--body
			tr(ng-repeat="result in storage.rememberedProfiles")
				td.profile-info(ng-click="showProfile(result)")
					span.fa.fa-user(ng-if="result.type == 'Artist'")
					span.fa.fa-user-secret(ng-if="result.type == 'Organiser'")
					span.fa.fa-building(ng-if="result.type == 'Venue'")
					span.profile-info-list--item.profile-name &nbsp; {{result.name}}
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
				td.
				td.profile-action-list
					a.profile-action-list--item.btn.btn-success.btn-xs(ng-click="removeRemeberedProfile(result)")
						span Remove
	.well-lg.text-center(ng-if="storage.rememberedProfiles.length==0 && storage.searchResults.length!=0") Click on the result tabs and select some profiles to contact!
	.well-lg.text-center(ng-if="storage.rememberedProfiles.length==0 && storage.searchResults.length==0") First, think! Second, maybe search first!