.tab-pane.fade#resultsResidentTab
	table.table.table-striped.table-hover.profile-filtered-list
		thead.profile-filtered-list--head
			tr
				th(colspan='2') Resident (
					span.profile-filtered-list--count  0
					| )
				th(style='text-align:right')
					span.fa.fa-angle-down
		tbody.profile-filtered-list--body
			tr
				td.profile-info
					span.profile-info-list--item.fa.fa-star.text-warning
					span.profile-info-list--item.fa.fa-play
					span.profile-info-list--item.profile-name Budzillus
					span.profile-type.label.label-primary Artist
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info Rock
					span.profile-genre-list--item.label.label-info Polka
				td.profile-action-list
					a.profile-action-list--item.btn.btn-default.btn-xs
						span.fa.fa-paw &nbsp;Ping
					a.profile-action-list--item.btn.btn-default.btn-xs
						span.fa.fa-eye Show Profile