.tab-pane.fade.scrollable#resultsRememberedTab(style="height: 400px; overflow: auto")
	table.table.table-striped.table-hover.profile-filtered-list
		tbody.profile-filtered-list--body
			tr(ng-repeat="result in storage.rememberedProfiles")
				td.profile-info(ng-click="showProfile(result)")
					span.profile-info-list--item.profile-name {{result.name}}
					span.profile-type.label.label-primary {{result.type}}
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
				td.
				td.profile-action-list
					a.profile-action-list--item.btn.btn-success.btn-xs(ng-click="removeRemeberedProfile(result)")
						span Remove