.tab-pane.fade.in.active#resultsOntourTab
	table.table.table-striped.table-hover.profile-filtered-list
		thead.profile-filtered-list--head
			tr
				th(colspan='3') On Tour (
					span.profile-filtered-list--count {{searchResultsCount}}
					| )
		tbody.profile-filtered-list--body
			tr(ng-repeat="result in searchResults | filter:filterOnTour")
				td.profile-info
					span.profile-info-list--item.fa.fa-star.text-warning
					span.profile-info-list--item.fa.fa-play
					span.profile-info-list--item.profile-name {{result.name}}
					span.profile-type.label.label-primary {{result.type}}
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres") {{g}}
				td.profile-action-list
					a.profile-action-list--item.btn.btn-default.btn-xs(ng-click="pingProfile(result)")
						span.fa.fa-paw &nbsp;Ping
					a.profile-action-list--item.btn.btn-default.btn-xs(ng-click="showProfile(result)")
						span.fa.fa-eye &nbsp;Show Profile