.tab-pane.fade.scrollable#resultsCalledTab(style="height: 400px")
	table.table.table-striped.table-hover.profile-filtered-list(ng-if="storage.calledProfiles.length!=0")
		tbody.profile-filtered-list--body
			tr(ng-repeat="result in storage.callededProfiles")
				td.profile-info(ng-click="showProfile(result)")
					span.profile-info-list--item.profile-name {{result.name}}
					span.profile-type.label.label-primary {{result.type}}
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index") {{g}}
				td.
				td.profile-action-list
					a.profile-action-list--item.btn.btn-success.btn-xs(ng-click="removeCalledProfile(result)")
						span Remove
	.well-lg.text-center(ng-if="storage.calledProfiles.length==0 && storage.searchResults.length!=0") Send individual calls or bulk call to profiles in the search and remembered List!
	.well-lg.text-center(ng-if="storage.calledProfiles.length==0 && storage.searchResults.length==0") First, think! Second, maybe search first!