.tab-pane.fade.in.active.scrollable#resultsResidentTab(style="height: 400px;")
	table.table.table-hover.profile-filtered-list(ng-if="storage.searchResults.length!=0")
		tbody.profile-filtered-list--body
			tr(ng-repeat="result in storage.searchResults | filter:filterOnTour")
				td.profile-info(ng-click="showProfile(result)")
					span.fa.fa-user(ng-if="result.type == 'Artist'")
					span.fa.fa-user-secret(ng-if="result.type == 'Organiser'")
					span.fa.fa-building(ng-if="result.type == 'Venue'")
					span.profile-info-list--item.profile-name &nbsp; {{result.name}}
				td.profile-genre-list
					span.profile-genre-list--item.label.label-info(ng-repeat="g in result.genres track by $index", ng-animate="'animate'") {{g}}
				td.
				td.profile-action-list(on="result")
					a.profile-action-list--item.btn.btn-success.btn-xs(ng-if="result.isRemembered", ng-click="removeRemeberedProfile(result)") Remove
					a.profile-action-list--item.btn.btn-default.btn-xs(ng-if="!result.isRemembered", ng-click="rememberProfile(result)") Remember

				//td.profile-action-list
				//	a.profile-action-list--item.btn.btn-default.btn-xs(ng-click="pingProfile(result)")
				//		span.fa.fa-bell &nbsp;Ping
	.well-lg.text-center(ng-if="storage.searchResults.length==0") No results match your search!