.tab-pane.fade(role="tabpanel")#callForVenuesTab
	.col-sm-4
		select.form-control(name='selectVenuesType', ng-model="storage.searchOptions.subtype")
			option(ng-repeat="option in venueTypes",value="{{option}}") 
				| {{option}}
	.col-sm-4
		ui-select(multiple, ng-model="searchOptions.genres", theme="select2", ng-disabled="disabled", style="max_width: 100%; width: 100%;")
			ui-select-match(placeholder="Select genres...") {{$item}}
			ui-select-choices(repeat="genre in genres | filter:$select.search")
				| {{genre}}
	.col-sm-4
		input.form-control(ng-model="storage.searchOptions.profileName", type='text',placeholder='Contact Organizer',name='inputProfile',id='inputProfile')