.panel-front {
  @include box-shadow(0 1px 4px rgba(0,0,0,.3));
}
.panel--artist {
  background-color: $user-artist-primary-color;
  color: #fff;
}
.panel--organiser {
  background-color: $user-organiser-primary-color;
  color: #fff;
}
.panel--venue {
  background-color: $user-venue-primary-color;
  color: #fff;
}
