a:focus {
  background-color: transparent;
}
div {
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.btn:focus, .btn:active:focus, .btn.active:focus { 
	background-color: $gray-light !important;
}