*:focus {
  outline:none !important;
}
#body {
  margin-top: 80px;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.90);
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}
