html {
  position: relative;
  min-height: 100%;
}
#body {
  margin-top: 80px;
  margin-bottom: 0;
}
*:focus {
  outline:none !important;
}


.navbar-default {
  background-color: rgba(255, 255, 255, 0.90);
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 0;
  color: #fff;
  transition: all 0.5s;
}
.navbar-brand #profileLink {
  margin-top: -19px;
  display: inline-block;
  margin-right: 15px;
}
.navbar-brand img {
  margin-top: 8px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}


#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #fff;
}
