// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

// User Type Colors
$user-artist-primary-color: #FF5722;
$user-organiser-primary-color: #607D8B;
$user-venue-primary-color: #FFC107;

// Date Picker Event Colors
$event-selected-border-color: #333;
$event-negotiation-open-background-color: #EF9A9A;
$event-negotiation-closed-background-color: #66BB6A;