#datePickerPanel .panel-body {
  min-height: 233px;
}
#datePickerPanel table {
  width: 100%;
}
#datePickerPanel th button {
  width: 100%;
}

#datePickerPanel .event-selected {
    border-color: black;
}
#datePickerPanel .event-negotiation-open button {
    background-color: $event-negotiation-open-background-color;
}
#datePickerPanel .event-negotiation-closed button {
    background-color: $event-negotiation-closed-background-color;
}
#datePickerPanel .event-negotiation button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/neg+0,2fc43e+50,ff7c00+51,ff7f04+100 */
	background: $event-negotiation-open-background-color; /* Old browsers */
	background: -moz-linear-gradient(-45deg, $event-negotiation-open-background-color 0%, $event-negotiation-open-background-color 50%, $event-negotiation-closed-background-color 51%, $event-negotiation-closed-background-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$event-negotiation-open-background-color), color-stop(50%,$event-negotiation-open-background-color), color-stop(51%,$event-negotiation-closed-background-color), color-stop(100%,$event-negotiation-closed-background-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, $event-negotiation-open-background-color 0%,$event-negotiation-open-background-color 50%,$event-negotiation-closed-background-color 51%,$event-negotiation-closed-background-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, $event-negotiation-open-background-color 0%,$event-negotiation-open-background-color 50%,$event-negotiation-closed-background-color 51%,$event-negotiation-closed-background-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, $event-negotiation-open-background-color 0%,$event-negotiation-open-background-color 50%,$event-negotiation-closed-background-color 51%,$event-negotiation-closed-background-color 100%); /* IE10+ */
	background: linear-gradient(135deg, $event-negotiation-open-background-color 0%,$event-negotiation-open-background-color 50%,$event-negotiation-closed-background-color 51%,$event-negotiation-closed-background-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$event-negotiation-open-background-color', endColorstr='$event-negotiation-closed-background-color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#datePickerPanel .event-proposal button {
	font-weight: bold;
}
#datePickerPanel .btn:focus, 
#datePickerPanel .btn:active:focus, 
#datePickerPanel .btn.active:focus { 
	background-color: $gray-light !important;
}