#negotiationDetailPanel .panel-body {
  padding-left: 15px;
  padding-right: 15px;
}
#negotiationDetailPanel .message {
  margin-bottom: 15px;
  border-radius: 4px;
  width: 80%;
}

#negotiationDetailPanel .message.message-sent {
  float: left;
  background: #afdaf6;
}

#negotiationDetailPanel .message.message-received {
  float: right;
  background: #f6cdca;
}

#negotiationDetailPanel .message .message-content {
  padding: 10px;
}

#negotiationDetailPanel .message .message-date {
  font-size: 12px;
  margin: 8px;
}

#negotiationDetailPanel .clear {
	clear: both;
}