#negotiationDetailPanel .message-date span


#negotiationDetailPanel .message{

}

#negotiationDetailPanel .message-sent{
	float: left;
}

#negotiationDetailPanel .message-received{
	float: right;
}

#negotiationDetailPanel .clear {
	clear: both;
}