#profileSearchPanel {
	border: solid 8px $brand-primary;
}
#profileSearchPanel .row .row {
	margin-left: 0;
}
#profileSearchPanel .row .row .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}
#profileSearchPanel .row .row .col-md-4:first-child,
#profileSearchPanel .row .row .col-md-12 {
	padding-left: 15px;
	padding-right: 0px;
}
#profileSearchPanel #profileTypeFilter {
	margin-top: 7px;
	height:30px;
}
#profileSearchPanel #genreFilter .dropdown-menu {
	text-transform: capitalize;
}