// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/theme/variables";

@import "bootstrap/bootstrap";

@import "bootstrap/extensions/columns-same-height";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.



@import "bootstrap/theme/bootswatch";

// No bootstrap affecting variables will work in the following file

@import "site/variables";


@import "site/fixes"; // quickfixes

// Site Styles
// ===========

// Layout
@import "site/layout";
// Components
@import "site/components";
// Panels
@import "site/panels";
// Sections
@import "site/sections";
// Forms
@import "site/forms";


// Library Styles
@import "lib/angular-ui-select";
@import "lib/angular-animate";
@import "lib/select2";
//@import "lib/anglar-openlayers-directive.css";
//@import "lib/ol.css";
@import "lib/leaflet.css";
@import "lib/angular-ui-notification";

// Material Design from Google
@import "md/_default";




.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}