/* carousel */
.carousel {
  margin-top:58px;
  margin-bottom: 10px;
}

.carousel-mask {
  position:absolute;
  top:0;
  width:100%;
}
.carousel-control.right,
.carousel-control.left {
  background:none;
}
/* marketing */
.features h2 {
  margin-bottom: 40px;
}
.features h2 {
  color: #e53a1c;
}
.features .label {
  position: absolute;
  top:0;
}
.featurette-heading {
  margin-top: 100px;
}

#notification_container {
  min-height: 100px;
}

.marketing {
  margin-top: 0px;
}