.profile-info-list--item,
.profile-genre-list--item {
  margin-right: 5px;
}
.profile-action-list {
  text-align: right;
}
.profile-action-list--item {
  margin-left: 5px;
}
.scrollable {
  overflow: auto;
}