.features
  // Three columns of text below the carousel
  .row
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
        .col-lg-10.col-sm-10.col-xs-9
          h2 Book Tours on Map
        // /.col-lg-4
      p.lead
        | With our map based community you can tell everyone of your tour plan, while you are building it, and plan according to the requests you find.
        | As an organizer you are able to search artists in your area or passing by your area in tour.
        | It&#180;s that simple!
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
        .col-lg-10.col-sm-10.col-xs-9
          h2 Negotiation Area
      p.lead
        | You can exchange a contract to be signed or just make a deal with a virtual hand shake, fixed fee or door share, you decide what fits your interest at any time. We simply provide you the tools to do it.
        | We don&#180;t charge or data-mine your business transactions, but we do let people review your outcome.
    // /.col-lg-4
  .row
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
        .col-lg-10.col-sm-10.col-xs-9
          h2 Open Calls Calendar
      p.lead
        | Search for resident or touring artists, by date, and publish open call on their calendars.
    // /.col-lg-4
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
        .col-lg-10.col-sm-10.col-xs-9
          h2 Browse by Music
      p.lead
        | Add artists playlists to your radio and discover them while you are busy at your booking sessions. It doesn&#180;t get easier than that.
    // /.col-lg-4
  .row
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
          span.label.label-primary PRO
        .col-lg-10.col-sm-10.col-xs-9
          h2 Reviews
      p.lead
        | You book a gig and the rest is on us. Your public calendar gets immediatly updated, your promotional posts spread around the interwebs. You have a personal website ? Just embed our calendar widget and forget updating it ever again.
    // /.col-lg-4
    .col-md-6
      .row
        .col-lg-2.col-sm-2.col-xs-3
          img.img-circle(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Generic placeholder image", style="width: 70px; height: 70px;")
          span.label.label-primary PRO
        .col-lg-10.col-sm-10.col-xs-9
          h2 Self-Updating Public Profile
      p.lead
        | You book a gig and the rest is on us. Your public calendar gets immediatly updated, your promotional posts spread around the interwebs. You have a personal website ? Just embed our calendar widget and forget updating it ever again.
    // /.col-lg-4
  // /.row
