section.section#searchFilterSection
	.panel-header
		ul.nav.nav-tabs
			li.active(role="presentation",ng-click="tabchanged(0)"): a(href="#callForArtistsTab", data-toggle="tab")
				span.fa.fa-user &nbsp;Artists
			li(role="presentation",ng-click="tabchanged(1)"): a(href="#callForVenuesTab", data-toggle="tab")
				span.fa.fa-building &nbsp;Venues
			li(role="presentation",ng-click="tabchanged(2)"): a(href="#callForOrganizersTab", data-toggle="tab")
				span.fa.fa-user-secret &nbsp;Organizers
	.panel-body
		.tab-content
			// Tab: Artists
			include ../../partials/tabs/search-artists.jade
			// Tab: Venues
			include ../../partials/tabs/search-venues.jade
			// Tab: Organizers
			include ../../partials/tabs/search-organizers.jade