section.section#searchFilterSection
	.panel-header
		//ul.nav.nav-tabs
		//	li.active(role="presentation",ng-click="tabchanged(0)"): a(href="#callForArtistsTab", data-toggle="tab")
		//		span.fa.fa-user &nbsp;Artists
		//	li(role="presentation",ng-click="tabchanged(1)"): a(href="#callForVenuesTab", data-toggle="tab")
		//		span.fa.fa-building &nbsp;Venues
		//	li(role="presentation",ng-click="tabchanged(2)"): a(href="#callForOrganizersTab", data-toggle="tab")
		//		span.fa.fa-user-secret &nbsp;Organizers
	.panel-body
		//.tab-content
		//	// Tab: Artists
		//	include ../../partials/tabs/search-artists.jade
		//	// Tab: Venues
		//	include ../../partials/tabs/search-venues.jade
		//	// Tab: Organizers
		//	include ../../partials/tabs/search-organizers.jade
		//.tab-pane.fade.in.active(role="tabpanel")#callForArtistsTab
		.row
			.col-sm-3
				label(for="selectProfileType")
					| Profile Type
			.col-sm-3
				label(for="selectSubtype")
					| Profile Subtype
			.col-sm-3
				label(for="selectGenres")
					| Genres
			.col-sm-3
				label(for="inputProfile")
					| Search by Name
		.row
			.col-sm-3
				select.form-control(name='selectProfileType', 
								    ng-model="storage.searchOptions.profileType", 
								    ng-change="onProfileTypeSelectionChanged()")
					option(value="{{option}}", ng-repeat="option in profileTypes")
						| {{option}}
			.col-sm-3
				ui-select(name="selectSubtype", multiple, ng-model="storage.searchOptions.subtypes", theme="select2", ng-disabled="disabled", style="max_width: 100%; width: 100%;")
					ui-select-match(placeholder="Select subtypes...") {{$item}}
					ui-select-choices(repeat="st in profileSubtypes | filter:$select.search")
						| {{st}}
			.col-sm-3
				ui-select(name="selectGenres", multiple, ng-model="storage.searchOptions.genres", theme="select2", ng-disabled="disabled", style="max_width: 100%; width: 100%;")
					ui-select-match(placeholder="Select genres...") {{$item}}
					ui-select-choices(repeat="genre in genres | filter:$select.search")
						| {{genre}}
			.col-sm-3
				input.form-control(ng-model="storage.searchOptions.profileName",type='text',placeholder='Contact artist',name='inputProfile',id='inputProfile')
