#profileDetailForm .section-title {
    margin-top: 40px;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
}
#profileDetailForm .section {
	margin-bottom: 80px;
	margin-left: 15px;
	margin-right: 15px;
}